[submodule "tmux/.tmux/tpm"]
	path = tmux/.tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-base16-statusline"]
	path = tmux/.tmux/plugins/tmux-base16-statusline
	url = git@github.com:sledigabel/tmux-base16-statusline.git
[submodule "nvim/.config/nvim/friendly-snippets"]
	path = nvim/.config/nvim/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule "nvim/.config/nvim/java/vscode-java-decompiler"]
	path = nvim/.config/nvim/java/vscode-java-decompiler
	url = git@github.com:dgileadi/vscode-java-decompiler.git
[submodule "nvim/.config/nvim/java/java-debug"]
	path = nvim/.config/nvim/java/java-debug
	url = https://github.com/microsoft/java-debug
[submodule "nvim/.config/nvim/java/vscode-java-test"]
	path = nvim/.config/nvim/java/vscode-java-test
	url = https://github.com/microsoft/vscode-java-test
[submodule "nvim/.config/nvim/java/vscode-gradle"]
	path = nvim/.config/nvim/java/vscode-gradle
	url = https://github.com/microsoft/vscode-gradle
