[submodule "tmux/.tmux/tpm"]
	path = tmux/.tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-base16-statusline"]
	path = tmux/.tmux/plugins/tmux-base16-statusline
	url = git@github.com:sledigabel/tmux-base16-statusline.git
[submodule "tmux/.tmux/plugins/tmux-yank"]
	path = tmux/.tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank.git
[submodule "tmux/.tmux/plugins/tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
[submodule "nvim/.config/nvim/friendly-snippets"]
	path = nvim/.config/nvim/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule "nvim/.config/nvim/java/vscode-java-decompiler"]
	path = nvim/.config/nvim/java/vscode-java-decompiler
	url = git@github.com:dgileadi/vscode-java-decompiler.git
[submodule "nvim/.config/nvim/java/java-debug"]
	path = nvim/.config/nvim/java/java-debug
	url = git@github.com:microsoft/java-debug.git
